/*=========== Common CSS ==========*/
*{
	margin:0;
	padding:0;
}
/* Typography*/
body{
	color:#131313;
	font-size:18px;
	font-family: 'Inter', sans-serif;
	line-height:32px;
	font-weight:500;
	box-sizing:border-box;
	background-color:#FFFAF7;
}
p{
	color:#606060;
	font-weight:400;
	line-height:30px;
}
h1{
	font-size:62px;
	line-height:100px;
	font-weight:800;
}
h2{
	font-size:50px;
	font-weight:800;
	line-height:73px;
}
h3{
	font-size:30px;
	font-weight:700;
	line-height:30px;
}
h4{
	font-size:24px;
	line-height:30px;
	font-weight:600;
}
h5{
	font-size:20px;
	font-weight:700;
}
h6{
	font-size:14px;
}
img,.img {
	max-width:100%;
}

a{
	color:#245D51;
	text-decoration:none;
}
a:hover{ color: #EAF471 !important;}

button{
	font-family: 'Manrope';
	font-weight:600;
}

header .nav-link{
	color:#131313;
}
/* Header css start */
header .navbar-nav .dropdown_language{
	margin-right:100px;
}
/*button color of register and redeem*/
.btn_primary{
	background-color:#E9F36A;
	border-radius:12px;
	border:none;
	padding:10px 28px ;
	z-index:1;
}
header .btn_login{
	border:none;
	padding:10px 28px;
	margin-right:10px;
	color:#fff;
	z-index:1;
}	
  .btn:hover{
	background-color:#F1F7A1;
	border-radius:12px;
	color:#000000;
}
/* Header css end */

/*section-banner css start*/
.banner .banner-image{
	position:relative;
}
.banner .background{
	position:absolute;
	right:0;
	top:0;
}
.banner .header_pic{
	position:absolute;
	z-index:2;
}
.banner h1{
	position:relative;
}
.banner h1::after{
	position:absolute;
	content:"";
	height:35px;
	width:470px;
	background-image:url("../images/title-line.svg");
	display:block;
	top:80px;
	background-repeat:no-repeat;
	background-size:cover;
}

.banner .countryform {
	max-width:480px;
	width:100%;
	position: relative;
}

.banner .countryform input[type="text"]{
	background-color:#131313;
	color:#DCEC13;
	padding:16px 30px;
	border:none;
	border-radius:12px;
	margin-top:20px;	
}

.banner input[type=submit].submit{
	background: #131313 url("../images/arrow-right.svg") no-repeat center center;
	background-size: contain;
	border: 0;
	font-size:0;
	line-height:0;
	position: absolute;
	right:20px;
	top:0px;
	width: 30px;
	height:56px;
	border-radius:0 12px 12px 0;
} 
/*person images in circle in  banner section*/
.banner .testimonial{
	padding-top:120px;
	display:flex;
}
.banner .testimonial .rounded_pic{
	width:62px;
	height:62px;
	background-color:#C4C4C4;
	border-radius:50%;
}
.banner .testimonial .vr{
	height:60px;
	margin:0 24px;
}
/*section-banner css end*/

/*section recharge-step css start*/
.recharge-step{
	text-align:center;
	margin-top:70px;
	position:relative;
}
	
.recharge-step .heading h2{
	position:relative;
	margin-bottom:90px;
}
.recharge-step .heading h2::after{
	position: absolute;
	content: "";
	height: 18px;
	width: 195px;
	top: 70px;
	right: 412px;
	background-image: url("../images/step-line.svg");
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
}
/*font-icon of the cards*/
.recharge-step .icon_circle{
	margin:0 0 30px 0;
	width:75px;
	height:75px;
	border-radius:50%;
	display:block;
	background-color:#0D211D;
	position:relative;
}
.recharge-step .icon{
	width:35px;
	height:35px;
	position:absolute;
	left:20px;
	top:20px;
}
.recharge-step .card{
	background-color:#F4EBE4;
	border:none;
	padding:20px 20px 0 20px;
	border-radius:32px;
	min-height:280px;
	margin-bottom:20px;
	text-align:left;
	height:100%;
}
/*section recharge-step css end*/
/*section coupon css start*/
.coupon{
	background-color:#0D211D;
	height:360px;
	color:#fff;
	margin-top:100px;
	position:relative;
}
.coupon .container{
	height:100%;
}
.coupon::after{
	position:absolute;
	background-image:url("../images/patterns.svg");
	content:"";
	overflow:hidden;
	top:0;
	left:0;
	right:0;
	display:block;
	width:100%;
	height:100%;
}
.coupon .code{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width:100%;
	height:100%;
}
.coupon .code h3{
	line-height:35px;
	width:650px;
	margin:0 auto;
	text-align:center;
}
.coupon .code .code_form{
	padding:30px 0;
	position:relative;
	z-index:1;
}
.coupon .code .code_form input[type="text"]{
	background-color:#FDF7F2;
	width:370px;
	margin-right:30px;
	border:none;
	padding:6px 28px;
	font-size:16px;
	border-radius:12px;
}
/*section coupon css end*/
/*section work-process css start*/
.work-process{
	margin:90px 0;
}
.work-process .work{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}

.work-process .work .work_content{
	max-width:800px;
	margin-top:25px;
}
.work-process .work .work_heading h2{
	position:relative;
}
.work-process .work .work_heading h2::after{
	position: absolute;
	content: "";
	height: 23px;
	width: 198px;
	top: 60px;
	right: 0;
	background-image: url("../images/work.svg");
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
}	

.work-process .video{
	text-align:center;
}
.work-process .video .icon_circle{
	width:100px;
	height:100px;
	border-radius:50%;
	display:block;
	background-color:#0D211D;
	position:absolute;
	justify-content:center;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
}
.work-process .video .icon{
	width:35px;
	height:35px;
	position:absolute;
	left:32px;
	top:32px;
}
.work-process .video img{
	max-width:890px;
	width:100%;
}
.work-process .video{
	position:relative;
}
/*section work-process css end*/
/*section info css start*/
.info{
	background:#245D51;
	min-height:500px;
	position:relative;
	color:#fff;
	margin-top:100px;
	padding:78px 0 0 0;
	z-index:1;
}
.info .footer_pic{
	border:20px solid #EAF471;
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	width:475px;
	border-bottom:0;
}

.info .info_heading{
	max-width:630px;
	width:100%;
	margin-bottom:70px;	
}
.info .info_heading h3{
	line-height:48px;
	font-size:40px;
}
.info::after{
	position:absolute;
	background:url("../images/info-background.svg") right center;
	content:"";
	overflow:hidden;
	top:0;
	right:0;
	display:block;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	z-index:-1;
	
}
.info .information .info_icon{
	width:22px;
	height:22px;
	
}
.info .information .info_icon_circle{
	
	width:80px;
	height:70px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 2px solid #96BAB2;
	position:relative;
}
.info .info_content{
	
	display:flex;
	margin-bottom:30px;
}
.info .info_content .content{
	margin-left:20px;
}
.info .info_content .content h5{
	font-size:22px;
}
.info .info_content .content p{
	color:#96BAB2;
	margin:0;
}
/*section info css end*/
/*footer info css start*/
.footer_info{
	background:#0D211D;
	width: 100%;
}
.border-bottom{
	border-bottom:1px solid #245148;
}
.footer_info .left_content{
	padding-top:40px;
}
.footer_info .left_content .logo{
	width:120px;
	height:60px;
	padding:0;
	margin:0;
}
.footer_info .left_content .about p{
	font-size:16px;
	
	color:#ffffff;
	margin:30px 0;
}
.footer_info .left_content .social_icon{
	display:flex;
	margin-bottom:25px;
}
.footer_info .left_content .social_icon .footer_icon_facebook{
	width:50px;
	height:50px;
	border-radius:50%;
	display:block;
	border: 1px solid #245148;
	position:relative;
}
.footer_info .left_content .social_icon .facebook_icon{
	width:10px;
	height:21px;
	position:absolute;
	top:14px;
	right:19px;
}
.footer_info .left_content .social_icon .footer_icon_twitter{
	width:50px;
	height:50px;
	border-radius:50%;
	display:block;
	background:#245148;
	position:relative;
}
.footer_info .left_content .social_icon .twitter_icon{
	width:21px;
	height:21px;
	position:absolute;
	top:14px;
	right:16px;
}
.footer_info .left_content .social_icon .footer_icon_twitter{
	margin-left:20px;
}
.footer_info .right_content .social_icon{
	display:none;
}
.footer_info .right_content .social_icon .footer_icon_facebook{
	width:50px;
	height:50px;
	border-radius:50%;
	display:block;
	border: 1px solid #245148;
	position:relative;
}
.footer_info .right_content .social_icon .facebook_icon{
	width:10px;
	height:21px;
	position:absolute;
	top:14px;
	right:19px;
}
.footer_info .right_content .social_icon .footer_icon_twitter{
	width:50px;
	height:50px;
	border-radius:50%;
	display:block;
	background:#245148;
	position:relative;
}
.footer_info .right_content .social_icon .twitter_icon{
	width:21px;
	height:21px;
	position:absolute;
	top:14px;
	right:16px;
}
.footer_info .right_content .social_icon .footer_icon_twitter{
	margin-left:20px;
}

.footer_info .right_content{
	padding-top:110px;
}
.footer_info .right_content .navbar-nav .nav-item .nav-link{
	color:#ffffff;
	display:inline-block;
}
.footer_info .footer_bottom{
	display:flex;
	justify-content:space-between;
	padding:20px 0;
}
.footer_info .footer_bottom .copyright p{
	color:#ffffff;
}
/*footer info css end*/


/*border-radius of cards and image of footer and header*/
.border_radius{
	border-radius:20px;
}


